@{
    Layout = null;
}
@Html.Partial("_EmpHeader")


<div class="col-lg-12 mb-4 mb-sm-5">
    <div class="card card-style1 border-0">
        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <img src="~/images/empimagepub/ariful-islam-akash.jpeg" alt="Ariful Islam Akash" style="max-width: 315px;">
                </div>
                <div class="col-lg-7 px-xl-10">
                    <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                        <h3 class="h3 text-dark mb-0">Ariful Islam Akash</h3>
                        <hr />
                    </div>
                    <ul class="list-unstyled mb-1-9">
                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> Software Engineer</li>
                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Status:</span> Full Time</li>
                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> <a>ariful.akash23@gmail.com, akash@firotechbd.com</a></li>
                        <li class="mb-2 mb-xl-3 display-28">
                            <span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                            <a href="#" onclick="copyToClipboard('+8801730277343')" class="text-decoration-none">+88 017302-77343</a>
                        </li>
                        <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> Uttara, Dhaka</li>
                    </ul>
                    <div class="shareSocial">

                        <ul class="socialList">
                            <li><a href="https://www.facebook.com/xpayment"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="mailto:akash@firotechbd.com"><i class="fa-solid fa-envelope"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 mb-4 mb-sm-5">
    <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
    <p>I am a skilled software engineer with experience in ASP.NET MVC Core, specializing in building and customizing solutions using nopCommerce. My expertise extends to developing payroll and HR modules, delivering efficient and scalable enterprise applications.</p>
    <p class="mb-0">With a strong focus on creating robust and user-friendly systems, I am committed to delivering high-quality software solutions tailored to meet business needs.</p>
</div>


@Html.Partial("_EmpFooter")
