
<link href="~/css/portfolio-style.css" rel="stylesheet" />
<div class="container">

    <div class="starter-template">
        <div class="col-lg-12 col-sm-12 m-auto">
            <div class="section-heading">
                <h4 class="section-title">Our Software Portfolio</h4>
                <div class="line"></div>
                <p>Explore our diverse software projects and solutions. Our portfolio showcases the latest technologies and innovative approaches that have driven success for our clients. From web development to ERP systems, see how we can help take your business to the next level.</p>
            </div>

        </div>
        @* <span class="lower-text">View</span> *@
        <div class="row">

         @*    <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://i.ytimg.com/vi/yit8__kygks/maxresdefault.jpg" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="">ERP Software</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div> *@

            <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://th.bing.com/th/id/OIP.uVTGYDtbdrKM3X_uguuCyAHaEi?rs=1&pid=ImgDetMain" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="/Portfolio/Ecommerce">e-Commerce Software</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://www.realtybackoffice.com/wp-content/uploads/2017/01/16144294_10211326484265333_1300790970_n.png" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="/Portfolio/Pos">POS Software</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://i.ytimg.com/vi/LdCLzdNcSJ0/maxresdefault.jpg" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="/Portfolio/Inventory">Inventory  Software</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://webthemez.com/wp-content/uploads/2017/08/ultimate-business-responsive-html-web-template.jpg" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="/Portfolio/Website1">Company Website</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="hover-div">
                    <img src="https://i.ytimg.com/vi/4y-_3Ayiauw/maxresdefault.jpg" width="300px" alt="ERP Software">
                    <div class="hover-div_inner">

                        <h3><a href="/Portfolio/WebsiteRestaurant">Restaurant Management</a></h3>

                        <div class="hover-div-lower">


                            Sell Features

                        </div>
                    </div>
                </section>
            </div>






        </div>
    </div>


</div>

<script src="~/js/portfolio-script.js"></script>