<div class="row">
    <!-- Customized ERP Development -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-erp-icon.png" alt="ERP Development Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>Customized ERP Development</h4>
                <p>
                    Tailored <span>ERP solutions</span> to streamline your business processes, enhance productivity, and improve data management.
                </p>
            </div>
        </div>
    </div>
    <!-- Payroll Software -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-payroll-icon.jpg" alt="Payroll Software Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>Payroll Software</h4>
                <p>
                    Efficient <span>payroll management</span> solutions designed to automate your payroll processes, ensuring accuracy and compliance.
                </p>
            </div>
        </div>
    </div>
    <!-- Company Website Development -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-website-development-icon.png" alt="Website Development Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>Company Website Development</h4>
                <p>
                    Create a strong online presence with a <span>custom company website</span> that reflects your brand and engages your audience.
                </p>
            </div>
        </div>
    </div>
    <!-- Custom Software Solutions -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-software-solutions-icon.png" alt="Custom Software Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>Custom Software Solutions</h4>
                <p>
                    Develop <span>custom software</span> tailored to your specific business needs, from small applications to large-scale systems.
                </p>
            </div>
        </div>
    </div>
    <!-- CRM Solutions -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-crm-icon-2.jpg" alt="CRM Solutions Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>CRM Solutions</h4>
                <p>
                    Enhance customer relationships with our <span>custom CRM solutions</span> designed to improve communication and boost sales.
                </p>
            </div>
        </div>
    </div>
    <!-- eCommerce Development -->
    <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box">
            <div class="service-img-icon">
                <img src="images/icon/firotech-ecommerce-icon.jpg" alt="eCommerce Development Icon" class="img-fluid">
            </div>
            <div class="service-inner">
                <h4>e-Commerce Development</h4>
                <p>
                    Build a powerful online store with our <span>eCommerce development</span> services, offering seamless shopping experiences.
                </p>
            </div>
        </div>
    </div>
</div>