@{
    Layout = null;
}
@Html.Partial("_EmpHeader")
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card card-style1 border-0">
                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-5 mb-4 mb-lg-0">
                                    <img src="~/images/empimagepub/sunjeeda-nody.jpg" alt="Sunjeeda Nody" style="max-width: 315px;">
                                    
                                </div>
                                <div class="col-lg-7 px-xl-10">
                                    <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h3 text-dark mb-0">Sheikh Sunjeeda Nody</h3>
                                        <hr />
                                        <!-- <span class="text-primary"></span> -->
                                    </div>
                                    <ul class="list-unstyled mb-1-9">
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span>Human Resources Manager</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Status:</span>Full Time</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> <a>hr.firotechbd@gmail.com</a></li>
                                        <li class="mb-2 mb-xl-3 display-28">
                                            <span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                                            <a href="#" onclick="copyToClipboard('+8801730277343')" class="text-decoration-none">+880 </a>
                                        </li>
                                        <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> Konabari, Gazipur</li>
                                    </ul>
                                    <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                        <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                        <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4 mb-sm-5">

                    <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
                    <p>Feel the Fear. Have the Doubts. Go for It Anyway.</p>

                </div>
@Html.Partial("_EmpFooter")