<nav class="navbar navbar-expand-lg fixed-top trans-navigation" style="background: #17a2b8">
    <div class="container">
        <a class="navbar-brand" href="http://firotechbd.com/" style="font-size:40px; color:#fff;">
            FiroTech
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home-section" aria-label="Go to Home section">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-label="Toggle Services menu">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#service-head" aria-label="Go to Software section">Software</a></li>
                        <li><a class="dropdown-item" href="#investment-section" aria-label="Go to Finance section">Finance</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio-section" aria-label="Go to Portfolio section">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog-section" aria-label="Go to Blog section">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#career-section" aria-label="Go to Career section">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer-section" aria-label="Go to Contact section">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<br />

