<nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container">
        <a class="navbar-brand" href="http://firotechbd.com/" style="font-size:40px; color:#fff;">
            FiroTech

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#home-section" id="navbarWelcome" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#service-head">Software</a></li>
                        <li><a class="dropdown-item" href="#investment-section">Finance</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#portfolio-section">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#blog-section">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#career-section">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#footer-section">Contact</a>
                </li>

            </ul>
        </div>

    </div>
</nav>